.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2%;
}
.item {
    margin: 2%;
}
.progress-total {
    margin: 2%;
    --mdc-linear-progress-track-height: 20px;
    --mdc-linear-progress-active-indicator-height: 20px;
}
.title {
    text-align: center;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
}
.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}