<p class="subtitle">Winter 24</p>
<button mat-button class="download">
    <a href="../../../public/klausuren/Kfz_Leistung.pdf" target="_blank">
        Kfz Leistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Haftpflicht_Leistung.pdf" target="_blank">
        Haftpflicht Leistungen
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Anlage Finanzprodukte.pdf" target="_blank">
        Anlage Finanzprodukte
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Sach_Leistung.pdf" target="_blank">
        Sachleistungen
    </a>
</button>
<br>
<button mat-button class="download">
    <a href="../../../public/klausuren/Rechtsschutz_Leistung.pdf" target="_blank">
        Rechtsschutz
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Unfall_Leistung.pdf" target="_blank">
        Unfallleistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Aufgaben.pdf" target="_blank">
        Versicherungswirtschafts Aufgaben
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Lösungen.pdf" target="_blank">
        Versicherungswirtschafts Lösungen
    </a>
</button>



<p class="subtitle">Sommer 24</p>
<button mat-button class="download">
    <a href="../../../public/klausuren/Kfz_Leistung.pdf" target="_blank">
        Kfz Leistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Haftpflicht_Leistung.pdf" target="_blank">
        Haftpflicht Leistungen
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Anlage Finanzprodukte.pdf" target="_blank">
        Anlage Finanzprodukte
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Sach_Leistung.pdf" target="_blank">
        Sachleistungen
    </a>
</button>
<br>
<button mat-button class="download">
    <a href="../../../public/klausuren/Rechtsschutz_Leistung.pdf" target="_blank">
        Rechtsschutz
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Unfall_Leistung.pdf" target="_blank">
        Unfallleistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Aufgaben.pdf" target="_blank">
        Versicherungswirtschafts Aufgaben
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Lösungen.pdf" target="_blank">
        Versicherungswirtschafts Lösungen
    </a>
</button>





<p class="subtitle">Winter 23</p>
<button mat-button class="download">
    <a href="../../../public/klausuren/Kfz_Leistung.pdf" target="_blank">
        Kfz Leistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Haftpflicht_Leistung.pdf" target="_blank">
        Haftpflicht Leistungen
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Anlage Finanzprodukte.pdf" target="_blank">
        Anlage Finanzprodukte
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Sach_Leistung.pdf" target="_blank">
        Sachleistungen
    </a>
</button>
<br>
<button mat-button class="download">
    <a href="../../../public/klausuren/Rechtsschutz_Leistung.pdf" target="_blank">
        Rechtsschutz
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Unfall_Leistung.pdf" target="_blank">
        Unfallleistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Aufgaben.pdf" target="_blank">
        Versicherungswirtschafts Aufgaben
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Lösungen.pdf" target="_blank">
        Versicherungswirtschafts Lösungen
    </a>
</button>



<p class="subtitle">Sommer 23</p>
<button mat-button class="download">
    <a href="../../../public/klausuren/Kfz_Leistung.pdf" target="_blank">
        Kfz Leistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Haftpflicht_Leistung.pdf" target="_blank">
        Haftpflicht Leistungen
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Anlage Finanzprodukte.pdf" target="_blank">
        Anlage Finanzprodukte
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Sach_Leistung.pdf" target="_blank">
        Sachleistungen
    </a>
</button>
<br>
<button mat-button class="download">
    <a href="../../../public/klausuren/Rechtsschutz_Leistung.pdf" target="_blank">
        Rechtsschutz
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Unfall_Leistung.pdf" target="_blank">
        Unfallleistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Aufgaben.pdf" target="_blank">
        Versicherungswirtschafts Aufgaben
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Lösungen.pdf" target="_blank">
        Versicherungswirtschafts Lösungen
    </a>
</button>





<p class="subtitle">Winter 22</p>
<button mat-button class="download">
    <a href="../../../public/klausuren/Kfz_Leistung.pdf" target="_blank">
        Kfz Leistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Haftpflicht_Leistung.pdf" target="_blank">
        Haftpflicht Leistungen
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Anlage Finanzprodukte.pdf" target="_blank">
        Anlage Finanzprodukte
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Sach_Leistung.pdf" target="_blank">
        Sachleistungen
    </a>
</button>
<br>
<button mat-button class="download">
    <a href="../../../public/klausuren/Rechtsschutz_Leistung.pdf" target="_blank">
        Rechtsschutz
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Unfall_Leistung.pdf" target="_blank">
        Unfallleistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Aufgaben.pdf" target="_blank">
        Versicherungswirtschafts Aufgaben
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Lösungen.pdf" target="_blank">
        Versicherungswirtschafts Lösungen
    </a>
</button>



<p class="subtitle">Sommer 22</p>
<button mat-button class="download">
    <a href="../../../public/klausuren/Kfz_Leistung.pdf" target="_blank">
        Kfz Leistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Haftpflicht_Leistung.pdf" target="_blank">
        Haftpflicht Leistungen
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Anlage Finanzprodukte.pdf" target="_blank">
        Anlage Finanzprodukte
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Sach_Leistung.pdf" target="_blank">
        Sachleistungen
    </a>
</button>
<br>
<button mat-button class="download">
    <a href="../../../public/klausuren/Rechtsschutz_Leistung.pdf" target="_blank">
        Rechtsschutz
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Unfall_Leistung.pdf" target="_blank">
        Unfallleistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Aufgaben.pdf" target="_blank">
        Versicherungswirtschafts Aufgaben
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Lösungen.pdf" target="_blank">
        Versicherungswirtschafts Lösungen
    </a>
</button>





<p class="subtitle">Winter 21</p>
<button mat-button class="download">
    <a href="klausuren/Kfz_Leistung.pdf" download>
        Kfz Leistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Haftpflicht_Leistung.pdf" target="_blank">
        Haftpflicht Leistungen
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Anlage Finanzprodukte.pdf" target="_blank">
        Anlage Finanzprodukte
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Sach_Leistung.pdf" target="_blank">
        Sachleistungen
    </a>
</button>
<br>
<button mat-button class="download">
    <a href="../../../public/klausuren/Rechtsschutz_Leistung.pdf" target="_blank">
        Rechtsschutz
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Unfall_Leistung.pdf" target="_blank">
        Unfallleistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Aufgaben.pdf" target="_blank">
        Versicherungswirtschafts Aufgaben
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Lösungen.pdf" target="_blank">
        Versicherungswirtschafts Lösungen
    </a>
</button>



<p class="subtitle">Sommer 21</p>
<button mat-button class="download">
    <a href="../../../public/klausuren/Kfz_Leistung.pdf" target="_blank">
        Kfz Leistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Haftpflicht_Leistung.pdf" target="_blank">
        Haftpflicht Leistungen
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Anlage Finanzprodukte.pdf" target="_blank">
        Anlage Finanzprodukte
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Sach_Leistung.pdf" target="_blank">
        Sachleistungen
    </a>
</button>
<br>
<button mat-button class="download">
    <a href="../../../public/klausuren/Rechtsschutz_Leistung.pdf" target="_blank">
        Rechtsschutz
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Unfall_Leistung.pdf" target="_blank">
        Unfallleistung
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Aufgaben.pdf" target="_blank">
        Versicherungswirtschafts Aufgaben
    </a>
</button>
<button mat-button class="download">
    <a href="../../../public/klausuren/Versicherungswirtschaft_Lösungen.pdf" target="_blank">
        Versicherungswirtschafts Lösungen
    </a>
</button>
